<div id="container">
    <div id="header">Chat</div>

    <div id="chat-container">

        <div id="message-container">
            @for (message of gameChat; track $index) {
            <div class="message-bubble" [ngClass]="{'sender': message.player.id === currentPlayer?.id && 
                message.player.playerType === currentPlayer?.playerType}">
                <div class="player-name">{{message.player.name}}</div>
                <div class="message">{{message.message}}</div>
            </div>

            }
            <div #endOfMessages></div>
        </div>

    </div>

    <div id="message-input-container">
        <input #message type="text" id="input" placeholder="Enter your message" (keydown.enter)="emitMessage(message)">
        <button color="accent" id="send-button" (click)="emitMessage(message)">></button>
    </div>
</div>