:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #5c5a46;
}

#options-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid rgb(150, 149, 60);
    height: 25rem;
    width: 20rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 170, 135);
}