.tile {
  min-width: 0;
  aspect-ratio: 1;
  font-weight: bold;
  text-align: center;
  font-size: calc(1vw + 1vh);
  background-color: rgb(236, 255, 253);
}

.blankSolutionTile{
  background-color: white;
}

.correctSolutionTile{
  background-color: rgb(29, 236, 29);
}

.incorrectSolutionTile{
  background-color: red;
}

.initialTile {
  background-color: rgb(255, 252, 223);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}