<div id="container">

    <div id="board-updates-container">
        <app-board-updates #boardUpdatesComponent [boardUpdates]="boardUpdates"></app-board-updates>
    </div>

    <div id="game-container">
        @if(isLoading){
        <div id="spinner-container">
            <mat-spinner id="spinner" diameter="100"></mat-spinner>
            <p>Loading Game...</p>
        </div>
        }
        @else{
        <div id="game-info-container">
            <div id="game-info-title">

                <div id="game-info-title-game-name">
                    {{game.gameName}}
                </div>
                <div id="game-info-title-game-level">
                    {{game.level}}
                </div>
                <div id="game-info-title-time-container">

                    @if(isGameSessionStatus(gameSessionStatusType.FINISHED)){
                    {{gameScreenMessage}}
                    }
                    @else{
                        {{timeRemainingMin}} :
                        @if (timeRemainingSec < 10) {
                            0{{timeRemainingSec}} 
                        } 
                        @else{ 
                            {{timeRemainingSec}} 
                        } 
                    } 
                </div>

                </div>

                <div id="game-info-body">
                    <div id="joined-player-count">
                        Joined Players: {{gameSession.players.length}}
                    </div>
                    <div id="players-contatiner">
                        @for (player of gameSession.players; track $index) {
                        <div class="player-info-box"
                            [ngClass]="{'current-player': isCurrentPlayer(player), 'host-player': isHostPlayer(player)}">
                            {{player.name}}
                        </div>
                        }
                    </div>
                </div>

                <div id="game-screen-tools">
                    <button mat-icon-button color="primary" id="game-screen-settings-button" (click)="openGameScreenSettingsDialog()">
                        <mat-icon>settings</mat-icon>
                      </button>
                </div>
            </div>

            <div id="main-game-screen-container">
                <div id="board-control-container">
                    @if(isMultiplayerGame()){
                    @if(isCurrentPlayer(game.hostPlayer)){
                    <button mat-raised-button color="accent" class="board-control-button" id="start-game-button"
                        (click)="startGame()">
                        Start
                    </button>
                    }

                    <button mat-raised-button color="accent" class="board-control-button" id="pause-game-button"
                        (click)="pauseGame()">
                        Pause
                    </button>

                    <button mat-raised-button color="accent" class="board-control-button" id="resume-game-button"
                        (click)="resumeGame()">
                        Resume
                    </button>
                    }

                    <button mat-raised-button color="accent" class="board-control-button" id="leave-game-button"
                        (click)="submitGame()">
                        Submit
                    </button>

                    <button mat-raised-button color="accent" class="board-control-button" id="leave-game-button"
                        (click)="leaveGameButtonClick()">
                        Leave
                    </button>
                </div>

                <div id="game-screen-container">
                    @if (showSolution) {
                        <div id="solution-title">
                            Solution
                        </div>
                    }
                    @if(isGameSessionStatus(gameSessionStatusType.NEW) ||
                    isGameSessionStatus(gameSessionStatusType.PAUSED)){
                    <div id="game-screen-message-container">
                        <p [innerHTML]="gameScreenMessage">

                        </p>
                    </div>
                    }
                    @else{
                    <app-game-board id="game-board" [initialBoard]="game.initialBoard"
                        [currentBoard]="gameSession.gameBoard" [solution]="game.solution"
                        [showSolution]="showSolution"
                        (boardUpdateEvent)="onBoardUpdateFromChild($event)">
                    </app-game-board>
                    }
                </div>

            </div>

            }

        </div>

        <div id="chat-container">
            <app-chat #chat [gameChat]="gameChat" (messageEvent)="onPlayerMessage($event)"></app-chat>
        </div>
    </div>