<div id="container">

    <div id="board-updates-container">
        <app-board-updates #boardUpdatesComponent [boardUpdates]="boardUpdates"></app-board-updates>
    </div>

    <div id="game-container">
        @if(isLoading){
        <div id="spinner-container">
            <mat-spinner id="spinner" diameter="100"></mat-spinner>
            <p>Loading Game...</p>
        </div>
        }
        @else{
        <div id="game-info-contatiner">
            <div id="game-info-title">
                {{game.gameName}} - {{game.level}}
            </div>
            <div id="game-info-body">
                Joined Players: {{game.playerCount}} <br>
                @for (player of game.players; track $index) {
                {{player.name}},
                }
            </div>
        </div>

        <div id="main-game-board-container">
            <div id="board-control-container">
                <button mat-raised-button color="accent" id="leave-game-button" (click)="leaveGameButtonClick()">
                    Leave Game
                </button>
            </div>
            <div id="game-board-container">
                <app-game-board id="game-board" [initialBoard]="game.initialBoard" [currentBoard]="game.currentBoard"
                    [solution]="game.solution" (boardUpdateEvent)="onBoardUpdateFromChild($event)">
                </app-game-board>
            </div>
        </div>
        }
    </div>

    <div id="chat-container">
        <app-chat #chat [gameChat]="gameChat" (messageEvent)="onPlayerMessage($event)"></app-chat>
    </div>
</div>