<div id="container">

    <div id="background-grid"></div>

    <div id="signup-card">

        <div id="header">

            <h1 id="app-title">
                Sudoku Multiplayer
            </h1>

            <p id="app-subtitle">
                Create Your Account
            </p>

        </div>

        <form
            [formGroup]="signupForm"
            id="signup-form"
            (ngSubmit)="signup()">

            <div id="form-fields">

                <mat-form-field appearance="outline">

                    <mat-label>Player Name</mat-label>

                    <input
                        matInput
                        formControlName="playerName">

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['playerName'].errors?.['required']
                        && signupForm.controls['playerName'].touched">

                        Player Name is required.

                    </small>

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>Email</mat-label>

                    <input
                        matInput
                        formControlName="email">

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['email'].errors?.['required']
                        && signupForm.controls['email'].touched">

                        Email is required.

                    </small>

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['email'].errors?.['email']">

                        Enter a valid email.

                    </small>

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>Password</mat-label>

                    <input
                        matInput
                        [type]="passwordHide ? 'password' : 'text'"
                        formControlName="password">

                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="passwordHide = !passwordHide">

                        <mat-icon>
                            {{passwordHide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>

                    </button>

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['password'].errors?.['required']
                        && signupForm.controls['password'].touched">

                        Password is required.

                    </small>

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['password'].errors?.['minlength']">

                        Minimum password length is {{MIN_PASSWORD_LENGTH}}.

                    </small>

                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>Confirm Password</mat-label>

                    <input
                        matInput
                        [type]="confirmPasswordHide ? 'password' : 'text'"
                        formControlName="confirmPassword">

                    <button
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="confirmPasswordHide = !confirmPasswordHide">

                        <mat-icon>
                            {{confirmPasswordHide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>

                    </button>

                    <small
                        class="form-error"
                        *ngIf="signupForm.controls['confirmPassword'].errors?.['required']
                        && signupForm.controls['confirmPassword'].touched">

                        Confirm Password is required.

                    </small>

                    <small
                        class="form-error"
                        *ngIf="signupForm.errors?.['passwordNotMatch']
                        && (
                            signupForm.controls['confirmPassword'].dirty ||
                            signupForm.controls['confirmPassword'].touched
                        )">

                        Passwords do not match.

                    </small>

                </mat-form-field>

            </div>

            <button
                mat-raised-button
                color="primary"
                class="action-button"
                [disabled]="signupForm.invalid"
                type="submit">

                Create Account

            </button>

        </form>

        <div id="footer">

            <p>
                Already have an account?
            </p>

            <a routerLink="/login">
                Login
            </a>

        </div>

    </div>

</div>