<h2 mat-dialog-title>About</h2>

<mat-dialog-content>
    <p>
        Welcome to the Sudoku Multiplayer Game!
    </p>

    <p>
        This project is a modern, interactive, and engaging platform that brings
        the classic puzzle game of Sudoku into the realm of multiplayer gaming.
    </p>

    <p>
        Built using Angular for the frontend and
        Spring Boot for the backend, this application allows users to enjoy the challenging logic of Sudoku while
        competing or collaborating with other players in real time.
    </p>

    <p>
        create by: Himanshu Sajwan
    </p>

    <p>
        <a href="https://github.com/HimanshuSajwan911" target="_blank">Github</a> <br>
        <a href="https://www.linkedin.com/in/himanshu-sajwanofficial" target="_blank">LinkedIn</a>
    </p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>
        Ok
    </button>
</mat-dialog-actions>