<div id="main-container">
    
    <div id="menu-container">

        <div id="menu-title-container">
            <p id="menu-title">Main Menu</p>
        </div>

        <div id="menu-button-container">

            <button mat-raised-button class="menu-button" color="accent" (click)="singlePlayerGame()">Single Player</button>

            <button mat-raised-button class="menu-button" color="accent">Multi Player</button>

            <button mat-raised-button class="menu-button" color="accent">Settings</button>

        </div>
    </div>
</div>